
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$primary: #FEFCF3;
$secondary: #8d1c3d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    background-color: $secondary;
    font-family: 'Oswald', sans-serif;
    @media (max-width: 763px) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr;
    }
    aside {
        background-color: $secondary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        .brand {
            text-align: center;
            color: $secondary;
            background-color: $primary;
            padding: 10px;
            @media (max-width: 763px) {
                margin-bottom: 30px;
            }
        }
        .menu-ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .menu-li {
                font-family: 'Oswald', sans-serif;
                font-size: 30px;
                color: $primary;
                list-style-type: none;
                text-align: center;
                font-weight: 600;
                margin-bottom: 25px;
                cursor: pointer;
                width: 100%;
                border-radius: 10px;
                transition: 0.5s color;
                &:hover {
                    background-color: $primary;
                    color: $secondary;
                }
                &:nth-child(1) {
                    background-color: $primary;
                    color: $secondary;
                }
                i {
                    margin-right: 10px;
                    font-size: 25px;
                }
            }
        }
        .fifa-watermark {
            text-align: center;
            color: $primary;
            font-size: 20px;
            @media (max-width: 763px) {
                display: none;
            }
        }
    }
    main {
        background-color: $primary;
        border-radius: 50px 50px 50px 50px;
        padding: 40px;
        overflow-y: scroll;
        margin: 20px;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 763px) {
            border-radius: 0px;
            margin: 0px;
            overflow-y: unset;
        }
        .section-title {
            color: $secondary;
            font-size: 50px;
            @media (max-width: 763px) {
                text-align: center;
            }
        }
        .products-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .product {
                padding: 30px;
                margin: 20px;
                border-radius: 30px;
                background-color: $primary;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 5px solid $secondary;
                .product-name, .product-price {
                    color: $secondary;
                    font-size: 30px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
                .product-img {
                    margin-bottom: 30px;
                }
                .addtocart-btn {
                    border: none;
                    background-color: $secondary;
                    color: $primary;
                    font-family: 'Oswald', sans-serif;
                    font-size: 30px;
                    font-weight: 600;
                    padding: 10px;
                    border-radius: 20px;
                    transition: 0.5s transform;
                    cursor: pointer;
                    .fa-cart-shopping {
                        display: none;
                    }
                    &:hover {
                        .fa-cart-shopping {
                            display: inline;
                            margin-right: 5px;
                        }
                    }
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    footer {
        display: none;
        @media (max-width: 763px) {
            display: flex;
            background-color: $secondary;
            height: 100px;
            justify-content: center;
            align-items: center;
            span {
                color: $primary;
                font-size:25px;
            }
        }
    }
}